/* .nav-bar a {
  overflow: hidden;
  float: left;
  display: block;
  color: #940079;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  
  font-size: 30px;
  font-family: sans-serif
  }
  
  .nav-bar {
    list-style: none;
    background-color: #ffcbce;
    
  }
  
  .nav-bar li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-bar button {
    padding: 0px 20px;
  }
  
  .nav-bar li a:hover {
    color: #FD95C9
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */

.hamburgerMenuDiv {
    position: absolute;
    z-index: 1;
    top: 0;
}

.hamburgerMenuDiv svg {
    color: black;
}

.hamburgerMenuDiv svg:hover {
    color: #ffa7ad;
}

.navBar {
    background-color: #f3f3f2;
    text-align: left;
    padding: 2%;
    width: 25vw;
    height: 100vh;
}

.options li {
    font-size: 18px;
    font-weight: bold;
    padding: 5%
}

.navButton {
    text-align: left;
    padding: 2%;
    width: 25vw;
}

.navButtonTwo {
    background-color: #f3f3f2;
    text-align: left;
    padding: 2%;
    width: 25vw;
}

a {
    color: black;
    text-decoration: none;
  }

a:hover {
  color: #ffa7ad;
}