* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.main {
    width: 100%;
    height: 100vh;
    top: 5;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContent {
    position: absolute;
    width: 100%;
    top: 5%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.homepageName {
    font-size: 9rem;
}

/* tablet */
@media all and (max-width: 991px) {
    
}

/* phone */
@media all and (max-width: 767px) {
    .homepageName {
        font-size: 4rem;
    }
}