.product-detail{
    display: inline-block;
    padding: 100px;
}
.product-detail-img{
    max-width: 300px;
    padding-bottom: 75px;
    /* max-height: 100%; */
}

@media only screen and (max-width: 768px){
    /* for mobile phones */
    .product-detail{
        display: inline-block;
        padding: 50px;
    }
    .product-detail-img{
        max-width: 200px;
        padding-top: 25px;
        padding-left: 40px;
        padding-bottom: 25px;
        /* max-height: 100%; */
    }
    .product-detail-name{
        padding-bottom: 5px;
    }
    .product-detail-price{
        padding-top: 10px;
        padding-bottom: 10px
    }
    .product-detail-button{
        padding: 5px
        
    }
}